{# templates/form/tw_theme.html.twig #}
{% block form_row -%}
<div class="{{ row_attr.class|default('') }}">
    {{- form_label(form, null, {
    label_attr: { class: (label_attr.class|default('') ~ ' block text-sm/6 font-medium text-gray-900
    dark:text-white')|trim }
    }) -}}
    <div class="mt-2">
        {{- form_widget(form, {
        attr: {
        class: (attr.class|default('') ~ ' block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900
        outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2
        focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10
        dark:placeholder:text-gray-500 dark:focus:outline-indigo-500')|trim
        }
        }) -}}
        {{- block('form_errors') -}}
    </div>
</div>
{%- endblock %}

{% block form_errors -%}
{% set errs = form is defined ? form.vars.errors : [] %}
{% if errs|length > 0 %}
<ul class="mt-1 text-sm text-red-600 dark:text-red-400 space-y-1">
    {% for error in errs %}
    <li>{{ error.message }}</li>
    {% endfor %}
</ul>
{% endif %}
{%- endblock %}